<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
    <h2>Register</h2>
    <form method="post">
        <label>Username:</label><br>
        <input type="text" name="username" required><br><br>
        
        <label>Password:</label><br>
        <input type="password" name="password" required><br><br>
        
        <!-- Tombol diubah -->
        <input type="submit" value="Sign Up Now">
    </form>
    <a href="{{ url_for('login') }}">Already have an account? Login</a>
</body>
</html>
